.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.container h1 {
    font-size: 42px;
    color: #FFF;
}
.button {
    background-color: rgb(71, 71, 223);
    padding: 8px 16px;
    border-radius: 8px;
    color: #FFF;
    font-weight: bold;
    margin-top: 24px;
}